<!--<!DOCTYPE HTML>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>Students list</title>-->
<!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
<!--</head>-->
<!--<body>-->
<!--<table>-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <td>Imię studenta</td>-->
<!--        <td></td>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody th:each=" student : ${studentsMap}">-->
<!--    <tr>-->
<!--        <td th:text="${student.name}"></td>-->
<!--        <td th:text="${student.semester}"></td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->
<!--</body>-->
<!--</html>-->