<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <p th:text="${student.id}"/>
    <p th:text="${student.name}"/>
    <p th:text="${student.semester}"/>
<!--    <div class="row">-->
<!--        <a href="/students">Powrót</a>-->
<!--    </div>-->
</div>
</body>
</html>
