<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <form class="form-horizontal" th:object="${student}" th:action="@{/students}"
          th:method="post">
        <div class="form-group">
            <label class="control-label">Imię:</label>
            <input type="text" class="form-control" th:field="*{name}"/>
        </div>
        <div class="form-group">
            <label class="control-label">Semestr:</label>
            <input type="text" class="form-control" th:field="*{semester}"/>
        </div>
        <div>
            <button type="submit" class="btn-warning">Utwórz</button>
        </div>
    </form>
</div>
</body>
</html>
